*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    background-color: plum;
    display: grid;
    place-items: center;
}

.calculadora{
    background-color: purple;
    color: black;
    width: 350px;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
    box-shadow: 0 0 20px purple;
}
.pantalla{
    grid-column: 1 / 5;
    background-color: palevioletred;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: right;
    border-radius: .5rem;
    margin-bottom: 1rem;
    font-family: monospace;
    font-weight: bold;
}

.numero{
    background-color: bisque;
    color: black;
    border: 0;
    padding: 1.5rem .5rem;
    display: flex;
    justify-content: center;
    border-radius: 30rem;
}

.numero:hover{
    background-color: rgb(228, 183, 129);
    font-weight: bold;
}

#igual{
    background-color: palevioletred;
}

#igual:hover{
    background-color: rgb(228, 43, 104);
}

.Titulo{
    color: blueviolet;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
}

.Titulo:hover{
    color: black;
}