
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: white;
}

header{
    background-color: antiquewhite;
    box-shadow: 0 0 20px black;
    
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

nav img{
    width: 200px;
}

nav div{
    display: flex;
    gap: 40px;
}

nav div a{
    font-size: 30px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    border-bottom: 2px solid transparent;
}

nav div a:hover{
        border-bottom: 2px solid black;

}

.segundo{
    background-color: rgb(214, 193, 166);
}

.texto1{
    text-align: center;
    font-size: 100px;
    color: palevioletred;
}

.texto2{
    text-align: center;
    font-size: 30px;
}

.menu2{
    padding: 300px;
}

.texto3{
    font-size: 70px;
    color: rgb(211, 43, 226);
    border-style: inset;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0 0 20px purple;
}

.tercero{
    margin-top: 60px;
    
}

.texto3:hover{
    color:black;
}

.container{
    margin-top: 90px;
    
}

.texto4{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: palevioletred;
    font-size: 30px;
}

.texto5{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
}

.texto6{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: palevioletred;
    font-size: 30px;
}

.texto7{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
}

.texto8{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: palevioletred;
    font-size: 30px;
}

.texto9{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
}

.card-body{
    background-color: antiquewhite;
    box-shadow: 0 0 20px purple;
}

.texto10{
    margin-top: 90px;
}

.video{
    font-family: 'Times New Roman', Times, serif;
    color: plum;
    box-shadow: 0 0 20px purple;
}

.texto11{
    font-size: 20px;
}

.texto12{
    margin-top: 90;
}

.respuestac{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.fondo1{
    background-color: antiquewhite;
    margin-top: 50px;
    box-shadow: 0 0 20px black;
}

.formulario{
    margin-top: 90px;
    
}

.fondo2{
    box-shadow: 0 0 20px palevioletred;
}

.click{
    background-color: pink;
    height: 50px;
}

.h{
    background-color: plum;
}

#prize-image{
    width: 200px;
    height: 200px;

}

.PRODUCTO{
    margin-top: 90px;
    margin-left: 40px;
}

.basem{
    text-align: center;
    margin-top: 10px;
}

.basem1{
    text-align: center;
}

.compras{
    text-align: center;
}


